%nav.navbar.navbar-default{role: "navigation"}
  .navbar-header
    .navbar-brand= link_to "Bookmarker", "/"
  - unless params[:action] == "new"
    %div
      %ul.nav.navbar-nav
        %li.active= link_to "New Bookmark", new_bookmark_path, target: '_blank'
