<p>
  <strong>Title:</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @bookmark.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bookmark.description %>
</p>

<%= link_to 'Back', bookmarks_path %>
